.navbar {
  width: fit-content;
  display: flex;
  align-items: center;
  border : 1px solid violet;
  margin-top: 15px;
  transition : all 0.5s;

  .flecheNavbar{
    margin-left: 15px;
  }

  .narbarHidden{
    transform: translateX(-100%);
  }
}
