@import "./libs/reset";
@import "./libs/variables";
@import "./libs/mixins";
@import "./sous-fichiers/navbar";
@import "./sous-fichiers/common";
@import "./sous-fichiers/alert";
@import "./sous-fichiers/accueil";
@import "./sous-fichiers/admin";
@import "./pages/profil";
@import "./pages/membres";
@import "./pages/galerie";
@import "./pages/erreur";
@import "./pages/pageLogin";
@import "./pages/exchange";
@import "./pages/droits";
@import "./pages/modifFichier";

body {
  background-color: $color3;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.app {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: $color3;
  color: violet;
  padding: 0 10px;
}
